<div class="container">
  <div class="mfc">
  @for (sector of sectors(); track $index; let sectorNumber = $index) {
    <div class="sector">
      <div class="name">Sector #{{ sectorNumber.toString().padStart(2, '0') }}</div>
        <div class="content">
        @for (block of sector; track $index; let blockNumber = $index) {
          <div class="block">
            <div class="name">Block #{{ (blockNumber + sectorNumber * 4).toString().padStart(2, '0') }}</div>
            @for (byte of block; track $index; let byteNumber = $index) {
              <div class="byte" [contentEditable]="true" [ngClass]="{'uid': isUidByte(sectorNumber, blockNumber, byteNumber), 'keyA': isKeyAByte(sectorNumber, blockNumber, byteNumber), 'keyB': isKeyBByte(sectorNumber, blockNumber, byteNumber), 'ac': isAcByte(sectorNumber, blockNumber, byteNumber)}">{{ byte.toString(16).toUpperCase().padStart(2, '0') }}</div>
            }
          </div>
        }
        </div>
    </div>
  }
  </div>

  <div class="info">
    <h1>Mifare Classic ({{ data().length/1024}}k)</h1>

    <dl class="details">
      <dt>UID:</dt>
      <dd>{{ uid() }}</dd>
      <dt>BCC:</dt>
      <dd>{{ bcc() }}</dd>
      <dt>SAK:</dt>
      <dd>{{ sak() }}</dd>
      <dt>ATQA:</dt>
      <dd>{{ atqa() }}</dd>
    </dl>


    <qrcode [qrdata]="url()" [width]="256" [margin]="0" [allowEmptyString]="true"></qrcode>

    <input type="file" #fileElem accept=".bin,.json,.nfc" style="display:none" (change)="loadDump($event)" />

    <div class="action">
      <button mat-stroked-button (click)="fileElem.click()"><mat-icon>nfc</mat-icon>Load dump</button>
      <button mat-stroked-button (click)="downloadBin()" [disabled]="data().length <= 0"><mat-icon>download</mat-icon>Download .bin</button>
      <button mat-stroked-button (click)="downloadJson()" [disabled]="data().length <= 0"><mat-icon>download</mat-icon>Download .json</button>
    </div>

    @for(t of accessConditionsDescription(); track $index;) {
      {{ t | json }}<br/>
    }
  </div>

</div>
